.bookkeeping .row{
    height: 80vh;
    /* border: .1px solid rgb(189, 185, 185); */
    align-content: center;

}

.bookkeeping .row .col-md-6{
    /* border: .1px solid rgb(189, 185, 185); */
    align-content: center;
}

.one{
    background-color: bisque;
}

.two{
    background-color: aquamarine;
}