
/* 
bg: rgb(248, 246, 244);
color: rgb(73, 80, 87);
*/
*{
    /* color: rgb(73, 80, 87); */
    margin: 0;
    padding: 0;
    font-weight:500;
    color: black;
    font-family: LLCircularWeb, Helvetica Neue, Helvetica, Arial, Lucida Grande;
}
h1,h2,h3,h4,h5, .accordion-body, .accordion-button{
    font-family: LLCircularWeb;
}

h2{
    font-size: 25px;
}

h3{
    font-size: 20px;
    font-family: LLCircularWeb;
}

p{
    font-size: 16px;
    font-family: LLCircularWeb;
}

body {
    line-height: 1.5;
    color: rgb(73, 80, 87);
    letter-spacing: 0.25px;
    width: 100%;
    overflow-x: hidden;
}

/* orange color to text xpert */
.Xpert{
    color: rgb(241, 95, 34);
}
.myHeader{
    height: 110vh;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
}
.myHeader-home{
    background-image: url(imgs/bookkeeping.png);
}
.myHeader-bookkeeping{
    /* background-image: url(imgs/dedicatedbookkeeping.png); */
}

.dropdown-item{
    width: 25em;
    font-size: large;
}


@media (max-width: 320px) {
    .navbar{
        background-color: rgb(241, 95, 34);
    }



}

/* for the content in main page */
.test{
    padding-top: 20rem;
}


/* mak enavbar small */
.myHeader .nav-item .nav-link{
    color: rgb(0, 3, 3);
    margin: 0 0.5rem;
    /* margin-bottom: 1px; */
    /* border-bottom: 2px invisible; */
}

.dropdown-menu .dropdown-item{
    font-family: Poppins, sans-serif,Consolas, 'Courier New', monospace;
    font-size: small;
}

.dropdown:hover .dropdown-menu{
    display: block;
}

/* navbar hover effect to change color and border  */
.nav-item .nav-link:hover {
    color: rgb(241, 95, 34) ;
    /* border-bottom: solid 2px rgb(241, 95, 34); */
}

body, html {
    height: 100%;
    margin: 0;
}

.description, .d-row{
    align-content: center;
    height: 100%;
}

.afternav{
    /* height: 100%; */
    display: flex;
	align-items: flex-end;
    /* background-color: rgb(253, 126, 20); */
}
.afternav p{
    font-size: 12px;
    color: rgb(253, 126, 20);

}

.blink {
    animation: blinker 1.5s linear infinite;
    color: red;
    font-family: sans-serif;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}


/*--------------------------------------------------------------
# Certification section
--------------------------------------------------------------*/
.certification{
    margin: 40px 100px;
    font-size: 16px;
    line-height: 1.8;
}


/*--------------------------------------------------------------
# Booking-services section
--------------------------------------------------------------*/
.services{
    background-color: rgb(248, 246, 244);
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 50px;
}

.services-header{
    text-align: center;
    margin-bottom: 50px;
}

@media (min-width: 768px){
    .services-header h2{
        margin-bottom: 50px;
    }
   
}

.service-image {
    display: flex;
    justify-content: center;
}
/* 
#service2{

    border-top-width: 0px;
    border-bottom-width: 0;
    border-style: solid;
    border-left-color: black;
    border-left-width: 1px;
    border-right-color: black;
    border-right-width: 1px;
} */

/*--------------------------------------------------------------
# Booking section
--------------------------------------------------------------*/
.booking{
    font-size:26px;
    line-height: 45px;
    margin-bottom: 50px;

}
.booking-header{
    /* text-align: center; */
    margin-bottom: 30px;
}

.steps{
    font-size: 20px;
    color: rgb(241, 95, 34) ;
    border-radius: 5rem;
}

.booking .image img{
    height: 50vh;
    width: auto;
}







/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/

.testimonial-text, .testimonial-footer{
    color: rgb(47, 48, 52);
    font-family: LLCircularWeb, serif;
    font-size: 1rem;
    line-height: 1.6875rem;
    position: relative;
    text-align: align;
    padding: 0;
    /* white-space: pre-wrap; */
}

.testimonial-text p{
    padding: 0;
    /* justify-content: center; */
}

.testimonial-footer, .col-md-8{
    height: 100%;
    align-items: center;
    padding-bottom: 20px;
}
.testimonial-pic{
    padding: 0;
}

.testimonial-pic img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.testimonial-pic-desc{
    font-size: 11px;
    margin: 0;
    height: 100%;
}

/*------------------------------------------------------------
# Features
--------------------------------------------------------------*/
    @media only screen and (max-width > 768px) {
        .features{
            /* padding: 50px; */
        }
    }


    .features{
        background-color:  rgb(248, 246, 244);
        padding: 10px;

    }
    
    .features h2{
        padding-top: 50px;
        font-weight: 500;
        text-align: center;
    }

    .features h5{
        margin-top: 10px;
    }
    .features .card{
        border: none;
    }
    
    .features .card-body{
        background-color:  rgb(248, 246, 244);
        text-align: center;
        padding: 0px 30px;
    }

/*--------------------------------------------------------------
# FAQs
--------------------------------------------------------------*/

.faqHeading{
    text-align: center;;
}

.FAQs{
    /* color: rgb(73, 80, 87); */
}

.accordion-item{
    /* margin-bottom: 5px; */
}
.accordion-button{
    color: rgb(253, 126, 20);
    background-color: white;

}

.accordion-item{
    /* background-color: rgb(248, 246, 244); */
    /* font-size: 16px; */
    /* color: rgb(253, 126, 20); */
    /* padding: 10px; */
    line-height: 1.8;
    background-color: rgb(248, 246, 244);

    border: solid rgb(248, 246, 244) 1px;
    
}

.accordion-button:not(.collapsed) {
    border-radius: 0;
    color: rgb(253, 126, 20);
    background-color: white;
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-button:focus {
    z-index: 0;
    border-color: none;
    outline: 0;
}




.footer{
    height:80vh;
    width: auto;
    background-image: url(imgs/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.footer a{
    /* color: white !important; */
    text-decoration: none;
    font-size: 12px;
    line-height: 12pt;
}

.footer-left{
    align-content: center;
    height: 100%;
}

.footer-left a{
    font-size: 22px;
}


